apiVersion: v1
items:
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "2"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"ollama","namespace":"sentinel"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"ollama"}},"template":{"metadata":{"labels":{"app":"ollama"}},"spec":{"containers":[{"image":"ollama/ollama:latest","name":"ollama","resources":{"limits":{"nvidia.com/gpu":1}},"volumeMounts":[{"mountPath":"/root/.ollama","name":"ollama-storage"}]}],"nodeSelector":{"special.gpu":"nvidia"},"runtimeClassName":"nvidia","volumes":[{"name":"ollama-storage","persistentVolumeClaim":{"claimName":"ollama-pvc"}}]}}}}
    creationTimestamp: "2025-12-16T12:42:00Z"
    generation: 2
    name: ollama
    namespace: sentinel
    resourceVersion: "59815"
    uid: d540aa63-ada5-4421-baf0-10715410b824
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: ollama
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: ollama
      spec:
        containers:
        - env:
          - name: OLLAMA_NUM_CTX
            value: "16384"
          image: ollama/ollama:latest
          imagePullPolicy: Always
          name: ollama
          resources:
            limits:
              nvidia.com/gpu: "1"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /root/.ollama
            name: ollama-storage
        dnsPolicy: ClusterFirst
        nodeSelector:
          special.gpu: nvidia
        restartPolicy: Always
        runtimeClassName: nvidia
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: ollama-storage
          persistentVolumeClaim:
            claimName: ollama-pvc
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T14:13:17Z"
      lastUpdateTime: "2025-12-16T14:13:17Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-12-16T15:13:56Z"
      lastUpdateTime: "2025-12-16T15:13:56Z"
      message: ReplicaSet "ollama-7b4956bb7f" has timed out progressing.
      reason: ProgressDeadlineExceeded
      status: "False"
      type: Progressing
    observedGeneration: 2
    readyReplicas: 1
    replicas: 2
    unavailableReplicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"paperless","namespace":"sentinel"},"spec":{"selector":{"matchLabels":{"app":"paperless"}},"template":{"metadata":{"labels":{"app":"paperless"}},"spec":{"containers":[{"env":[{"name":"PAPERLESS_REDIS","value":"redis://paperless-redis:6379"},{"name":"PAPERLESS_DBHOST","value":"paperless-db"},{"name":"PAPERLESS_URL","value":"http://paperless-web.sentinel.svc.cluster.local:8000"},{"name":"PAPERLESS_OCR_LANGUAGE","value":"eng"}],"image":"ghcr.io/paperless-ngx/paperless-ngx:latest","name":"paperless","ports":[{"containerPort":8000}],"volumeMounts":[{"mountPath":"/usr/src/paperless/media","name":"media"},{"mountPath":"/usr/src/paperless/data","name":"data"}]}],"nodeSelector":{"special.cpu":"avx512"},"volumes":[{"name":"media","persistentVolumeClaim":{"claimName":"paperless-media-pvc"}},{"name":"data","persistentVolumeClaim":{"claimName":"paperless-data-pvc"}}]}}}}
    creationTimestamp: "2025-12-16T12:42:00Z"
    generation: 1
    name: paperless
    namespace: sentinel
    resourceVersion: "52935"
    uid: 947809ad-6be7-491d-b4a3-b064ed55c637
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: paperless
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: paperless
      spec:
        containers:
        - env:
          - name: PAPERLESS_REDIS
            value: redis://paperless-redis:6379
          - name: PAPERLESS_DBHOST
            value: paperless-db
          - name: PAPERLESS_URL
            value: http://paperless-web.sentinel.svc.cluster.local:8000
          - name: PAPERLESS_OCR_LANGUAGE
            value: eng
          image: ghcr.io/paperless-ngx/paperless-ngx:latest
          imagePullPolicy: Always
          name: paperless
          ports:
          - containerPort: 8000
            protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /usr/src/paperless/media
            name: media
          - mountPath: /usr/src/paperless/data
            name: data
        dnsPolicy: ClusterFirst
        nodeSelector:
          special.cpu: avx512
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: media
          persistentVolumeClaim:
            claimName: paperless-media-pvc
        - name: data
          persistentVolumeClaim:
            claimName: paperless-data-pvc
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T12:42:00Z"
      lastUpdateTime: "2025-12-16T12:50:46Z"
      message: ReplicaSet "paperless-597dbff44" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2025-12-16T13:33:49Z"
      lastUpdateTime: "2025-12-16T13:33:49Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "3"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"paperless-db","namespace":"sentinel"},"spec":{"selector":{"matchLabels":{"app":"paperless-db"}},"template":{"metadata":{"labels":{"app":"paperless-db"}},"spec":{"containers":[{"env":[{"name":"POSTGRES_DB","value":"paperless"},{"name":"POSTGRES_USER","value":"paperless"},{"name":"POSTGRES_PASSWORD","value":"paperless"},{"name":"PGDATA","value":"/var/lib/postgresql/data"}],"image":"postgres:15","name":"db","volumeMounts":[{"mountPath":"/var/lib/postgresql/data","name":"db-data"}]}],"initContainers":[{"command":["sh","-c","chmod -R 777 /var/lib/postgresql/data"],"image":"busybox","name":"fix-perms","volumeMounts":[{"mountPath":"/var/lib/postgresql/data","name":"db-data"}]}],"volumes":[{"name":"db-data","persistentVolumeClaim":{"claimName":"paperless-data-pvc"}}]}}}}
    creationTimestamp: "2025-12-16T12:57:43Z"
    generation: 3
    name: paperless-db
    namespace: sentinel
    resourceVersion: "55397"
    uid: 6e5a41a2-cf33-4660-8d0b-06b917e12d16
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: paperless-db
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: paperless-db
      spec:
        containers:
        - env:
          - name: POSTGRES_DB
            value: paperless
          - name: POSTGRES_USER
            value: paperless
          - name: POSTGRES_PASSWORD
            value: paperless
          - name: PGDATA
            value: /var/lib/postgresql/data
          image: postgres:15
          imagePullPolicy: IfNotPresent
          name: db
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: db-data
        dnsPolicy: ClusterFirst
        initContainers:
        - command:
          - sh
          - -c
          - chmod -R 777 /var/lib/postgresql/data
          image: busybox
          imagePullPolicy: Always
          name: fix-perms
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /var/lib/postgresql/data
            name: db-data
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: db-data
          persistentVolumeClaim:
            claimName: paperless-data-pvc
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T13:43:28Z"
      lastUpdateTime: "2025-12-16T13:43:28Z"
      message: ReplicaSet "paperless-db-7775d78c86" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    - lastTransitionTime: "2025-12-16T14:08:59Z"
      lastUpdateTime: "2025-12-16T14:08:59Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    observedGeneration: 3
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"paperless-redis","namespace":"sentinel"},"spec":{"selector":{"matchLabels":{"app":"paperless-redis"}},"template":{"metadata":{"labels":{"app":"paperless-redis"}},"spec":{"containers":[{"image":"redis:7","name":"redis"}]}}}}
    creationTimestamp: "2025-12-16T12:42:00Z"
    generation: 1
    name: paperless-redis
    namespace: sentinel
    resourceVersion: "49124"
    uid: 5007cbf6-1aa9-46c1-838a-1c555962a094
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: paperless-redis
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: paperless-redis
      spec:
        containers:
        - image: redis:7
          imagePullPolicy: IfNotPresent
          name: redis
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T12:42:04Z"
      lastUpdateTime: "2025-12-16T12:42:04Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-12-16T12:42:00Z"
      lastUpdateTime: "2025-12-16T12:42:04Z"
      message: ReplicaSet "paperless-redis-59c8fcc98c" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "1"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"litellm","namespace":"sentinel"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"litellm"}},"template":{"metadata":{"labels":{"app":"litellm"}},"spec":{"containers":[{"args":["--config","/app/config.yaml","--port","4000"],"env":[{"name":"GEMINI_API_KEY","value":"AIzaSyByJRsgo1mj_Au4xTetxAYLj9RE1r2iXVo"}],"image":"ghcr.io/berriai/litellm:main-latest","name":"litellm","volumeMounts":[{"mountPath":"/app/config.yaml","name":"config","subPath":"config.yaml"}]}],"volumes":[{"configMap":{"name":"litellm-config"},"name":"config"}]}}}}
    creationTimestamp: "2025-12-16T15:56:53Z"
    generation: 1
    name: litellm
    namespace: sentinel
    resourceVersion: "63067"
    uid: 773f6c27-ea0f-4a04-b9ad-046e7a9eca27
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: litellm
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        creationTimestamp: null
        labels:
          app: litellm
      spec:
        containers:
        - args:
          - --config
          - /app/config.yaml
          - --port
          - "4000"
          env:
          - name: GEMINI_API_KEY
            valueFrom:
              secretKeyRef:
                name: litellm-secrets
                key: GEMINI_API_KEY
          image: ghcr.io/berriai/litellm:main-latest
          imagePullPolicy: IfNotPresent
          name: litellm
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /app/config.yaml
            name: config
            subPath: config.yaml
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - configMap:
            defaultMode: 420
            name: litellm-config
          name: config
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T15:56:55Z"
      lastUpdateTime: "2025-12-16T15:56:55Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-12-16T15:56:53Z"
      lastUpdateTime: "2025-12-16T15:56:55Z"
      message: ReplicaSet "litellm-5df66bbbfd" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 1
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    annotations:
      deployment.kubernetes.io/revision: "4"
      kubectl.kubernetes.io/last-applied-configuration: |
        {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"open-webui","namespace":"sentinel"},"spec":{"selector":{"matchLabels":{"app":"open-webui"}},"template":{"metadata":{"labels":{"app":"open-webui"}},"spec":{"containers":[{"env":[{"name":"OPENAI_API_BASE_URL","value":"http://litellm-proxy.sentinel.svc.cluster.local:4000"},{"name":"OPENAI_API_KEY","value":"sk-sentinel"},{"name":"RAG_EMBEDDING_ENGINE","value":"ollama"},{"name":"RAG_OLLAMA_BASE_URL","value":"http://ollama.sentinel.svc.cluster.local:11434"},{"name":"RAG_EMBEDDING_MODEL","value":"nomic-embed-text"}],"image":"ghcr.io/open-webui/open-webui:main","name":"open-webui","volumeMounts":[{"mountPath":"/app/backend/data","name":"webui-data"}]}],"volumes":[{"name":"webui-data","persistentVolumeClaim":{"claimName":"webui-pvc"}}]}}}}
    creationTimestamp: "2025-12-16T12:45:52Z"
    generation: 4
    name: open-webui
    namespace: sentinel
    resourceVersion: "62751"
    uid: 589f113a-c6a0-4455-889f-08eebf200b6f
  spec:
    progressDeadlineSeconds: 600
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: open-webui
    strategy:
      rollingUpdate:
        maxSurge: 25%
        maxUnavailable: 25%
      type: RollingUpdate
    template:
      metadata:
        annotations:
          kubectl.kubernetes.io/restartedAt: "2025-12-16T15:53:00Z"
        creationTimestamp: null
        labels:
          app: open-webui
      spec:
        containers:
        - env:
          - name: OPENAI_API_BASE_URL
            value: http://litellm-proxy.sentinel.svc.cluster.local:4000
          - name: OPENAI_API_KEY
            value: sk-sentinel
          - name: RAG_EMBEDDING_ENGINE
            value: ollama
          - name: RAG_OLLAMA_BASE_URL
            value: http://ollama.sentinel.svc.cluster.local:11434
          - name: RAG_EMBEDDING_MODEL
            value: nomic-embed-text
          image: ghcr.io/open-webui/open-webui:main
          imagePullPolicy: IfNotPresent
          name: open-webui
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          - mountPath: /app/backend/data
            name: webui-data
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
        - name: webui-data
          persistentVolumeClaim:
            claimName: webui-pvc
  status:
    availableReplicas: 1
    conditions:
    - lastTransitionTime: "2025-12-16T12:51:42Z"
      lastUpdateTime: "2025-12-16T12:51:42Z"
      message: Deployment has minimum availability.
      reason: MinimumReplicasAvailable
      status: "True"
      type: Available
    - lastTransitionTime: "2025-12-16T12:45:52Z"
      lastUpdateTime: "2025-12-16T15:53:02Z"
      message: ReplicaSet "open-webui-9fb764cdf" has successfully progressed.
      reason: NewReplicaSetAvailable
      status: "True"
      type: Progressing
    observedGeneration: 4
    readyReplicas: 1
    replicas: 1
    updatedReplicas: 1
kind: List
metadata:
  resourceVersion: ""
